.config/ansible/collections/
.config/BraveSoftware/
.config/cfg_backups/
.config/GitKraken/
.config/LM Studio/
.config/discord/
.config/Code - OSS/
.config/VSCodium/
.config/WebCord/
.config/heroic/
.config/org.coolercontrol.coolercontrol/
.config/rncbc.org/
.config/rofi.guizmo/
.config/spicetify/Extracted/
.config/Upscayl/
.config/xfce4/
.config/wttr/
.config/BetterDiscord Installer/
.config/Electron/
.config/Final2x/
.config/hypr/themes/luna/walls/*/
.config/jgmenu/
.config/kde.org/
.config/kdedefaults/
.config/akregatorrc
.config/baloofileinformationrc
.config/chromium-flags.conf
.config/dolphinrc
.config/filetypesrc
.config/gtkrc
.config/gtkrc-2.0
.config/gtk-4.0
.config/kactivitymanagerdrc
.config/kateschemarc
.config/kcminputrc
.config/kconf_updaterc
.config/kdeglobals
.config/kfontinstuirc
.config/kglobalshortcutsrc
.config/kiorc
.config/lattedockrc
.config/oxygenrc
.config/pavucontrol.ini
.config/plasma-localerc
.config/plasmarc
.config/powerdevilrc
.config/powermanagementprofilesrc
.config/QtProject.conf
.config/systemsettingsrc
.config/trashrc
.config/Trolltech.conf
.nvidia-settings-rc
.bash_logout
.config/Portmaster/
.config/obsidian/
.config/Thunar/
.config/thefuck/
.config/spotify-tui/
.config/spotify/
.config/spicetify/
.config/session/
.config/pulse/
.config/mpv/shaders/
.config/Mousepad/
.config/MangoHud/
.config/latte/
.config/gkraken/
.config/eog/
.config/dconf/
.config/autostart/
*sessionData/
*cache*/
*Cache*/
*Storage*/
tmp/

.config/GIMP/

.config/Signal/
