* {
    main-bg:            #24273Ae6;
    main-fg:            #CAD3F5ff;
    main-br:            #C6A0F6ff;
    main-ex:            #F5E0DCff;
    select-bg:          #F4DBD6ff;
    select-fg:          #24273Aff;
    separatorcolor:     transparent;
    border-color:       transparent;
}
