* {
    main-bg:            #1F2024E6;
    main-fg:            #C0CCFC;
    main-br:            #7D706F;
    main-ex:            #47434A;
    select-bg:          #F0B890;
    select-fg:          #2E1400;
}
