* {
    main-bg:            #020519E6;
    main-fg:            #65709A;
    main-br:            #383C50;
    main-ex:            #374565;
    select-bg:          #F6F6F9;
    select-fg:          #191924;
}
