* {
    main-bg:            #1A1626E6;
    main-fg:            #D9CCFF;
    main-br:            #9B6387;
    main-ex:            #4A304F;
    select-bg:          #F0AAC8;
    select-fg:          #52293A;
}
